<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://simplewebrtc.com/latest-v2.js"></script>
    <script type="text/javascript">
        function setText(UserMsg) {
            console.log(UserMsg);
        }
    </script>
    <meta charset="UTF-8">
    <title>TextChat</title>
</head>
<body>
        <h3>Portal Chat Room</h3>
        <br><br>
        <video height="300" id="localVideo"></video>
        <div id="remoteVideos"></div>
        <br><br><br>
        <input name="message" id="text" type="text" />
        <input name="button" onclick="setText(getElementById('text').value)" type="button" value="Send" id="send"/>
        <br><br><br>
        <textarea name="reply" id="messages" rows="10" cols="50"></textarea>

</body>
<script>
    var room = 'PortalChatRoom';
    var webrtc = new SimpleWebRTC({
        // the id/element dom element that will hold "our" video
        localVideoEl: '',
        // the id/element dom element that will hold remote videos
        remoteVideosEl: '',
        // immediately ask for camera access
        autoRequestMedia: false,
        //set default nickname to Peer
        nick: 'Peer'
    });
    webrtc.joinRoom(room);

    //For Text Chat ------------------------------------------------------------------
    // Await messages from others

    webrtc.connection.on('message', function(data){
        console.log("Received");
        if(data.type === 'chat'){
            console.log('chat received',data.payload.message);
            //append name and message to textarea using id #messages
            $('#messages').append('<br>' + data.payload.nick + ': <br>' + data.payload.message + '&#10;');
        }
    });

    // Send a chat message
    //When Send button (id is #send) is clicked
    $('#send').click(function(){
        //Get the message from the text box with #text id
        var msg = $('#text').val();
        webrtc.sendToAll('chat', {message: msg, nick: webrtc.config.nick});
        $('#messages').append('<br>You: <br>' + msg + '&#10;');
        //Set the value of text box to null
        $('#text').val('');
    });
</script>
</html>
